
.values_1 p{
    font-size: 20px;
}
.values_1 h2{
    color: #000;
}
.values_1 span {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    
}
.welcome-values p{
    color: #000;
}
.welcome-values span{
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 3px solid black;
    text-align: left;
    padding: 10px 67px 23px 57px;
    color: #000;
  }
  
  tr:nth-child(odd) {
    background-color: rgb(97, 182, 216);
  }
  .tr th {
    color: #000;
  }
  .tr td{
    color: #000;
  }
  .company p{
    color: #000;
    font-size: 20px;

  }
  .h2 h2{
    font-size: 30px;
    color: #000;

  }
 .td{
    font-size: 15px;
    color: #000;
 }
 .type th{
    background-color: blanchedalmond;
 }